@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: hsl(180, 66%, 49%);
  --color-primary-purple: hsl(257, 27%, 26%);
  --color-secondary-red: hsl(0, 87%, 67%);

  --color-gray-400: hsl(0, 0%, 75%);
  --color-gray-500: hsl(257, 7%, 63%);
  --color-gray-900: hsl(255, 11%, 22%);
  --color-gray-950: hsl(260, 8%, 14%);

  --font-poppins: "Poppins", sans-serif;

  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  --padding-x-mobile: 24px;
  --padding-x-desktop: 128px;
  --padding-y-mobile: 64px;
  --padding-y-desktop: 80px;
}

@layer base {
  body {
    @apply bg-white text-gray-900 text-lg font-poppins;
  }

  p {
    @apply text-gray-500 leading-normal max-w-150;
  }
}

footer svg {
  width: fit-content;
  height: auto;
}

footer svg path {
  fill: white;
}

.buttonHover {
  @apply hover:bg-[#95e7e7] transition-colors duration-300;
}
